NODE_ENV=production

API_PORT=3000
WEB_ORIGIN=http://localhost:3001

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=onepiecetcg
DATABASE_PASSWORD=onepiecetcg
DATABASE_NAME=onepiecetcg

BETTER_AUTH_SECRET=change-me-in-production
BETTER_AUTH_URL=http://localhost:3000
AUTH_ANONYMOUS_ENABLED=false
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
